@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('./Rubik-Regular.ttf');
  font-weight: 400;
}

.hello {
  color: rgb(10, 107, 89);
  font-family: 'Rubik', sans-serif;
  background: url('./ice.jpg');
}


.input-text {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: rgb(0, 0, 0);
}

input {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: rgb(0, 0, 0);
}


label {
  color:rgb(0, 0, 0)
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: rgb(69, 58, 58);
}

li {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background: rgb(184, 167, 167);
  border: #333 1px solid;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  place-items: center;
  margin-bottom: 2px;
}

li > p {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
