@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.eot');
  src: url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('Rubik-Regular.woff2') format('woff2'),
    url('Rubik-Regular.woff') format('woff'),
    url('Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Rubik';
  height: 100%;
  width: 100%;
}
header {
  background-color: rgb(72, 138, 214);
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0.5rem;
}

button {
  background: rgb(0, 56, 135);
  color: white;
  border: 1px outset rgb(117, 177, 255);
  border-radius: 100px;
  margin: 2px;
  padding: 0px 1rem;
  font-size: 15px;
  transition: ease-in-out 0.1s;
  align-items: center;
  place-content: center;
  cursor: pointer;
}

button:hover {
  background: rgb(97, 163, 255);
  color: rgb(59, 59, 59);
}

:disabled {
  pointer-events: none;
  opacity: 0.3;
}

input {
  width: 500px;
  height: 3rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  text-align: center;
}

li input {
  height: 2rem;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

label {
  color: rgb(0, 0, 0);
}

ul.projects {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: 100vh;
}

.li-data-container {
  display: grid;
  grid-auto-rows: 1fr;
  background-color: transparent;
  place-self: start;
  min-width: none;
}

.li-btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-self: center center;
}

li p {
  font-size: 12px;
}
li p:nth-child(3) {
  place-self: end start;
  font-size: 8px;
  grid-row: 6;
}
li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgb(184, 167, 167);
  border: #333 1px solid;
  border-radius: 5px;
  width: 90%;
  height: auto;
  margin-top: 0.5rem;
  place-items: center;
  padding: 0.5rem;
}

li:hover {
  background: rgb(216, 195, 195);
  cursor: pointer;
}
li.active {
  background: rgb(148, 64, 64);
  cursor: pointer;
}

li form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: space-between;
}

ul.preview-list {
  background: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  place-self: center start;
  min-width: 150px;
  max-width: max-content;
}

ul.preview-list li {
  display: flex;
  background: rgb(9, 31, 50);
  height: 20px;
  width: 200px;
  color: rgb(235, 173, 92);
  padding: 0.2rem;
  margin: 0;
}

section {
  background-color: blueviolet;
}

.wrapper {
  display: grid;
  background-color: yellow;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 1rem;
}

ul.projects {
  display: grid;
  grid-template-columns: 1fr;

  background-color: rgb(9, 106, 74);
  height: 200px;
}

ul.details {
  display: grid;
  grid-template-columns: 1fr;
  background-color: aquamarine;
  height: 200px;
}
